/* ------------------  For both files ------------------ */
.wrapper {
  display: flex;
}

.writeAReview {
  margin-left: auto;
  cursor: pointer;
  background-color: rgb(237,32,42);
  color:white;
  padding-right:15px; /*button size*/
  padding-left:15px;
  padding-top:5px;
  padding-bottom:5px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.header {
  display: flex;
  margin-left: auto;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  margin-top: 50;
}
/* ------------------ Ratings Snapshot half ----------------- */
.ratings_snapshot {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  color: #27221d;
  font-size: 1em;
  line-height: 1.1em;
}

.ratings_wrapper {
  width: 50%
}

.ratings_snapshot_key {
  margin-left: 20px;
  flex: 10%;
}

.ratings_content {
  margin-top: 12px;
  flex: 40%;
  margin-left: 0px;
}

.ratings_snapshot_percentages {
  flex: 30%;
}

.new_rating {
  padding-bottom: 14px;
}

/* ------------------ Average Customer Ratings half ----------------- */
.average_customer_ratings {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  color: #27221d;
  font-size: 1em;
  line-height: 1.1em;
}

.average_wrapper {
  width: 50%;
}

.average_ratings_key {
  flex: 30%;
  margin-left: 10px;
}

.average_ratings_content {
  flex: 25%;
  margin-top: 13px;
}

.average_ratings_decimal {
  flex: 20%;
  margin-right: 60px;
}

.new_rating_bars {
  padding-bottom: 14px;
}
/* ----------------------------------- */
.sub_heading {
  padding-left: 5px;
}

.logo {
  float: right;
  width: 28px;
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.ratings_heading {
  margin-bottom: 45px;
}

.see_more {
  font-size: 11px;
  cursor: pointer;
}

.tab {
  padding-left: 10px;
}

.username {
  cursor: pointer;
  padding-right: 10px;

}

.select_header {
  margin-left: 10px;
}

.most_helpful_half {
  width: 50%;
  flex-direction: row;
  flex: 1;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 10px;
  word-wrap: break-word;
  color: #27221d;
  font-size: 1em;
  line-height: 1.5em;
}

/*-------------------- Average Customer Ratings: Overall --------------------*/
.fullUnit {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.emptyStars:before, .fullUnit:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 15px;
}
.emptyStars:before {
  -webkit-text-stroke: 1px #b1b1b1;
}
.fullUnit:before {
  -webkit-text-stroke: 1px #fde16d;
}

/*-------------------- Ratings Snapshot --------------------*/
.fullBar {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.emptyBar:before, .fullBar:before {
  content:"▄▄▄▄▄▄▄▄▄▄";
  font-size: 15px;
}
.emptyBar:before {
  -webkit-text-stroke: 1px #b1b1b1;
}
.fullBar:before {
  -webkit-text-stroke: 1px #fde16d;
}

/*-------------------- Average Customer Ratings: Quality, Value --------------------*/
.fullFiveBar {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.emptyFiveBar:before, .fullFiveBar:before {
  content:"▄▄▄▄▄";
  font-size: 15px;
}
.emptyFiveBar:before {
  -webkit-text-stroke: 1px #b1b1b1;
  /* -webkit-text-stroke: 1px #848484; */
}
.fullFiveBar:before {
  -webkit-text-stroke: 1px #fde16d;
  /* -webkit-text-stroke: 1px orange; */
}