.block {
  display: block;
}
.inline_block_bigger {
  display: inline-block;
  width: 70%;
  white-space: normal;
  vertical-align: middle;
}
.inline_block_smaller {
  display: inline-block;
  width: 30%;
  white-space: normal;
  vertical-align: middle;
}