.block {
  display: flex;
  /* align-items: center; */
}
.inline_block_bigger {
  flex: 1;
  flex: 70%;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 0px;
  white-space: normal;
  vertical-align: middle;
}
.inline_block_smaller {
  flex: 30%;
  padding-right: 20px;
  text-align: right;
  white-space: normal;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 20px;
}