body {
  margin: 0px;
}

.big_grey_container {
  margin: 0px;
  padding: 10%;
  background-color: rgb(242,240,238);
}

.main_white_container {
  background-color: rgb(255,255,255);
}

.white_container_with_text {
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 8%;
  padding-bottom: 5%;
  word-wrap: break-word;
  line-height: 1.5em;
  font-family:"Futura Book";
  /* font-family: Futura,Trebuchet MS,Arial,sans-serif; */
  font-weight: lighter;

  font-size: 14px;
  line-height: 20px;
}

.reviews_questions_section {
  display: flex;
  letter-spacing: 2px;
}

.horizontal_line {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%
}

/* margin is the space around an element and padding refers to the space between an element and the content inside it. */
.reviewHeading {
  cursor: pointer;
}

.reviewHeading:hover {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.questionsHeading {
  margin-left: 130px;
  cursor: pointer;
}

.questionsHeading:hover {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.pagination {
  align-items: center;
  display: flex;
  border-style: solid;
  border-color: lightgrey;
  background-color: lightgrey;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.pagination_buttons {
  margin-left: auto;
  order: 2;
}

.back_button {
  display: inline-block;
  cursor: pointer;
}
.next_button {
  display: inline-block;
  cursor: pointer;
}
